.header {
  width: calc(100% - 2 * 200px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 45px 0 0;
  height: 73px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1080px) {
  .header {
    width: 100%;
    padding: 28px 0 0;
    height: 55px;
  }
}

