.popup__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 54px;
}

@media screen and (max-width: 568px) {
  .popup__title {
    margin: 0 0 75px;
    font-size: 18px;
    line-height: 1.22;
  }
}