.register__input{
  font-family: 'Inter', Arial, sans-serif;
  border: none;
  color: #CCC;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: left;
  width: 358px;
  height: 27px;
  background-color: #000;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  padding-bottom: 13px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.register__input:focus {
  outline: none;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
}

@media screen and (max-width: 568px) {
  .register__input {
    width: 260px;
  }
}