.profile__add-button {
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url(../../../images/add-button-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 0;
    background-color: #000;
}


@media screen and (max-width: 1080px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}