body{
  background-color: #000000;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
}

@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
@import url(./blocks/root/root.css);
@import url(./blocks/hover/hover.css);

/* header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);

/* profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__user/profile__user.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__occupation/profile__occupation.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);

/* elements */
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__card/elements__card.css);
@import url(./blocks/elements/__pic/elements__pic.css);
@import url(./blocks/elements/__trash/elements__trash.css);
@import url(./blocks/elements/__description/elements__description.css);
@import url(./blocks/elements/__name/elements__name.css);
@import url(./blocks/elements/__likes/elements__likes.css);
@import url(./blocks/elements/__heart/elements__heart.css);
@import url(./blocks/elements/__number-of-likes/elements__number-of-likes.css);
@import url(./blocks/elements/__heart/_condition/elements__heart_condition_active.css);

/* footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);

/* popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_name/popup_name_pic.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__content/_name/popup__content_name_approve.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__pic/popup__pic.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_name/popup__title_name_sure.css);
@import url(./blocks/popup/__title/_name/popup__title_name_approve.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__submit-button/_type/popup__submit-button_type_inactive.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_type/popup__input-error_type_active.css);
@import url(./blocks/popup/__logo/popup__logo.css);

/* register */
@import url(./blocks/register/register.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__input/_type/register__input_type_error.css);
@import url(./blocks/register/__input-error/register__input-error.css);
@import url(./blocks/register/__input-error/_type/register__input-error_type_active.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/register/__subtitle/register__subtitle.css);
@import url(./blocks/register/__submit-button/register__submit-button.css);
@import url(./blocks/register/__submit-button/_type/register__submit-button_type_inactive.css);