.register {
  max-width: 358px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 568px) {
  .register {
    max-width: 260px;
  }
}